app = "echo-tutor"
primary_region = "fra"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "7860"

[http_service]
  internal_port = 7860
  force_https = true
  auto_start_machines = true
  auto_stop_machines = "stop"
  min_machines_running = 1

  [http_service.concurrency]
    type = "connections"
    hard_limit = 50
    soft_limit = 25

[[vm]]
  memory = "1024mb"
  cpu_kind = "shared"
  cpus = 1
